<nav class="site-nav">
  <a href="/asset-pool" class="{{#if (eq nav 'assetPool')}}active{{/if}}">Asset Pool</a>
  <a href="/asset-structure" class="{{#if (eq nav 'assetStructure')}}active{{/if}}">AssetStructure</a>
  <a href="/measurements" class="{{#if (eq nav 'measurements')}}active{{/if}}">Measurements</a>
  <a href="/implementation" class="{{#if (eq nav 'implementation')}}active{{/if}}">Implementation</a>
</nav>
