<nav class="site-nav">
  <a href="/asset-pool" class="{{#if (eq nav 'assetPool')}}active{{/if}}">Asset-Pool</a>
  <a href="/asset-structure" class="{{#if (eq nav 'assetStructure')}}active{{/if}}">Asset-Struktur</a>
  <a href="/measures" class="{{#if (eq nav 'measures')}}active{{/if}}">Messungen</a>
  <a href="/implementation" class="{{#if (eq nav 'implementation')}}active{{/if}}">Implementierung</a>
</nav>
