<div class="implementation-app" data-app="implementation">
  <section class="implementation-content" data-region="content">
    {{#> card title="Umsetzung"}}
        <p>Nicht umgesetzt.</p>
    {{/card}}
  </section>
</div>