<div class="measures-app" data-app="measures">
  <section class="measure-content" data-region="content">
    {{#> card title="Maßnahmen"}}
      <p>Nicht umgesetzt.</p>
    {{/card}}
  </section>
</div>